/* Base Template Settings */

/* Transition */

@mixin transition($transition-property, $transition-time) {
    -webkit-transition: $transition-property $transition-time;
    -moz-transition: $transition-property $transition-time;
    -ms-transition: $transition-property $transition-time;
    -o-transition: $transition-property $transition-time;
    transition: $transition-property $transition-time;
}
