// Slate 4.0.0
// Bootswatch

//
// Color system
//

$white: #fff !default;
$gray-100: #f7f7f7 !default;
$gray-200: #a3a3a3 !default;
$gray-300: #696969 !default;
$gray-400: #454545 !default;
$gray-500: #333333 !default;
$gray-600: #7A8288 !default;
$gray-700: #52575C !default;
$gray-800: #3A3F44 !default;
$gray-900: #272B30 !default;
$black: #000 !default;

$blue: #04578c !default;
$indigo: #6610f2 !default;
$purple: #bc895e !default;
$pink: #a9554a !default;
$red: #c11010 !default;
$orange: #f0832d !default;
$yellow: #ffb531 !default;
$gold: #585858 !default;
$green: #15691f !default;
$teal: #20c997 !default;
$cyan: #5bc0de !default;

$primary: $blue !default;
$secondary: $orange !default;
$success: $green !default;
$info: lighten($gray-200, 20) !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-500 !default;

// Body

$body-bg: $white !default;
$body-color: $gray-400 !default;

// Links

$link-color: $gray-400 !default;

// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font-size-base: 0.8375rem !default;
$font-family-base: 'Roboto';
$font-weight-base: normal;
$headings-font-family: 'Roboto';

// Headlines

$h1-font-size: 2.2rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.1rem !default;
$headings-line-height: 1.5em !default;

// Tables

$table-accent-bg: rgba($white, .05) !default;
$table-hover-bg: rgba($white, .075) !default;

$table-border-color: rgba($black, .6) !default;

$table-dark-border-color: $table-border-color !default;
$table-dark-color: $white !default;

// Buttons

$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: 1.7rem !default;
$btn-border-radius: 25px !default;
$btn-font-weight: 500 !default;

// Forms

$input-disabled-bg: #ccc !default;

// Dropdowns

$dropdown-bg: $gray-800 !default;
$dropdown-divider-bg: rgba($black, .15) !default;

$dropdown-link-color: $body-color !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $body-bg !default;

// Navs

$nav-tabs-border-color: rgba($black, 0.6) !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-padding-y: 0 !default;

$navbar-dark-hover-color: $white !default;

$navbar-light-hover-color: $gray-800 !default;
$navbar-light-active-color: $gray-800 !default;

// Pagination

$pagination-color: $white !default;
$pagination-bg: transparent !default;
$pagination-border-color: rgba($black, 0.6) !default;

$pagination-hover-color: $white !default;
$pagination-hover-bg: transparent !default;
$pagination-hover-border-color: rgba($black, 0.6) !default;

$pagination-active-bg: transparent !default;
$pagination-active-border-color: rgba($black, 0.6) !default;

$pagination-disabled-bg: transparent !default;
$pagination-disabled-border-color: rgba($black, 0.6) !default;

// Jumbotron

$jumbotron-bg: darken($gray-900, 5%) !default;

// Cards

$card-border-color: rgba($black, 0.6) !default;
$card-cap-bg: lighten($gray-800, 10%) !default;
$card-bg: lighten($body-bg, 5%) !default;

// Popovers

$popover-bg: lighten($body-bg, 5%) !default;

// Modals

$modal-content-bg: lighten($body-bg, 5%) !default;

$modal-header-border-color: rgba(0, 0, 0, .2) !default;

// Progress bars

$progress-bg: darken($gray-900, 5%) !default;
$progress-bar-color: $gray-600 !default;

// List group

$list-group-bg: lighten($body-bg, 5%) !default;
$list-group-border-color: rgba($black, 0.6) !default;

$list-group-hover-bg: lighten($body-bg, 10%) !default;
$list-group-active-color: $white !default;
$list-group-active-bg: $list-group-hover-bg !default;
$list-group-active-border-color: $list-group-border-color !default;

$list-group-disabled-color: $gray-700 !default;

$list-group-action-color: $white !default;

// Breadcrumbs

$breadcrumb-active-color: $gray-500 !default;