@import "reset";
@import "base";
@import "node_modules/compass-mixins/lib/compass";
@import "custom-bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";

// CUSTOM CSS

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
}

.plz-input {
    border-radius: 25px;
    border: 2px solid $blue;
    @extend .px-3;
}

#accordion {
    width: 100%;
    i {
        font-size: 30px;
        line-height: 40px;
    }

}